.logo {
    height: 3em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 50%;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    cursor: pointer;
}


.table {
    padding: 2em;
}

.table td {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* border: 1px solid #646cffaa; */
}

thead th {
    background-color: rgba(150, 150, 255, 0.5);
    padding: 0.5em 2em;
}

tbody tr:nth-child(even) {
    background-color: aliceblue;
}

tbody tr:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

#injury-table {
    display: flex;
    flex-direction: column;
}

#injury-list {
    width: 100%;
}

#logo-bank {
    position: relative;
    margin: auto;
    background-color: rgb(250, 250, 250);
    top: 0;
    height: 100%;
    padding: 0em 2em;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 50%;
    border-radius: 5%;
}

#update-btn {
    max-width: 10em;
    margin: 0.5em auto;
    font-size: 11pt;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#update-btn:hover {
    background-color: rgba(150, 150, 255, 0.5);
    transition: background-color 300ms;
}